.idea/
.kiro
*.sublime-workspace
backup/
credentials.*
dist/
docs/
i18nList.json
node_modules/
playwright-report/
sandbox/
misc/messages/
src/test*
tests/worker-test-cases-regenerated.json
test-results/
playwright/.auth/
.env
.eslintcache
