.cd-comment-header {
  font-size: 0.9285714em;
  margin-bottom: 0.3076923em;
  padding-top: 0.0769231em;
}

.cd-comment-author {
  font-weight: bold;
}

.cd-comment-timestamp {
  color: #54595d;
}

.cd-comment-button {
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }

  &-label.cd-comment-button-label {
    color: #54595d;
    text-decoration: none;

    &:hover {
      color: var(--cd-link-hover-color);
    }

    &:active {
      color: var(--cd-link-active-color);
    }
  }

  &.cd-button-disabled.cd-button-disabled {
    color: #72777d;
  }

  &-icon {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 2px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }
}

.cd-comment-button-goToParent {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23a2a9b1'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%230645ad'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23faa700'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.cd-comment-button-goToChild {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23a2a9b1'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%230645ad'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23faa700'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.cd-comment-menu {
  font-size: 0.9285714em;
  margin-top: 0.3076923em;
}

.cd-comment-part-first {
  margin-top: 0.5em;
}

.cd-comment-part-last {
  margin-bottom: 0.5em;
}

ol > li.cd-comment-part-first.cd-comment-part-first,
ol > li > .cd-comment-part-first.cd-comment-part-first:first-child {
  margin-top: 0;
}

.cd-reformattedComments {
  .cd-comment-part-first {
    margin-top: 0.75em;
  }

  .cd-comment-part-last {
    margin-bottom: 0.75em;
  }

  .cd-commentForm-signature,
  .cd-helpPopup-hideForReformattedComments {
    display: none;
  }
}

// Because irregular gaps between numbered list items are annoying.
li {
  margin-bottom: 0.14285714em;
}

ol > li.cd-comment-part-last.cd-comment-part-last {
  margin-bottom: 0.14285714em;
}

// Repeat the class to gain specificity in the Minerva Neue skin
.cd-commentLevel.cd-commentLevel:not(ol) {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

.sitedir-ltr .cd-commentLevel:not(ol) > li,
.sitedir-ltr .cd-commentLevel:not(ol) > dd {
  padding-left: 1em;
  padding-right: 0;
  margin-left: 1em;
  margin-right: 0;
  border-left: 1px solid #c8ccd1;
  border-right: 0;
}

.sitedir-rtl .cd-commentLevel:not(ol) > li,
.sitedir-rtl .cd-commentLevel:not(ol) > dd {
  padding-left: 0;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 1em;
  border-left: 0;
  border-right: 1px solid #c8ccd1;
}

.cd-connectToPreviousItem {
  position: relative;
}

// Workaround for close a visual gap to the previous item. The unfortunate reason for it is that we
// need to avoid wrapping the contents of almost every comment into a <div>, which would increase
// the parsing time significantly.
.cd-connectToPreviousItem::before {
  content: '';
  position: absolute;
  display: block;
  top: -0.5em;
  width: 1px;
  background-color: #c8ccd1;
  height: 0.5em;
}

.cd-reformattedComments .cd-connectToPreviousItem::before {
  top: -0.75em;
  height: 0.75em;
}

.sitedir-ltr .cd-connectToPreviousItem::before {
  left: -1px;
}

.sitedir-rtl .cd-connectToPreviousItem::before {
  right: -1px;
}

.cd-thread-clickArea {
  position: absolute;
  z-index: 1;
  width: 3px;
  padding-left: var(--cd-thread-line-side-margin);
  padding-right: var(--cd-thread-line-side-margin);
}

.cd-thread-line {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cd-thread-clickArea-hover {
  cursor: pointer;

  .cd-thread-line {
    background-color: #72777d;
    opacity: 1;
    transition: opacity 0.2s ease-in;

    &-extended::after {
      background-image: linear-gradient(to bottom, #72777d, transparent);
    }
  }
}

.cd-thread-line-extended::after {
  display: block;
  content: '';
  height: 10px;
  top: 100%;
  position: relative;
}

.cd-beforeChangeMark {
  margin-right: 0.75em;
}

.cd-changeMark {
  font-size: 85%;
  color: #54595d;
}

.cd-reformattedComments .cd-changeMark {
  font-size: 100%;
  margin-left: 0.75em;
}
