.cd-commentForm {
  display: flow-root;
  margin: 0.5em 0;
  font-weight: normal;
  text-align: start;

  .oo-ui-textInputWidget {
    max-width: none;
  }

  .oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
    vertical-align: middle;
  }

  table.diff {
    margin-bottom: 0.5em;
  }

  .wikiEditor-ui-left {
    // Make a number in <ol> lists appear in front of the textarea, not below it.
    float: none;
  }

  .wikiEditor-ui-toolbar {
    // To make the shadow appear.
    z-index: 1;
  }

  .oo-ui-textInputWidget .oo-ui-inputWidget-input {
    border-radius: 0;
  }

  .tool-button {
    // Until T312933 is fixed
    width: 2.14285714em;
    height: 2.14285714em;
    border: 1px solid transparent;

    .sitedir-ltr & {
      // Otherwise, text may be visible in some combinations of content and interface language (for
      // example, Russian Wikipedia and uselang=he).
      direction: ltr;
    }

    .sitedir-rtl & {
      direction: rtl;
    }
  }

  // Until T312970 is fixed
  .wikiEditor-ui-toolbar .tabs span.tab a {
    height: 2.14285714em;
    border: 1px solid transparent;
  }

  .wikiEditor-ui-toolbar .group .label {
    height: 2em;
    line-height: 2em;
  }

  // Use the .ltr and .rtl classes to detect the text direction of the user interface (not the site
  // content for which case the .sitedir-ltr/rtl classes are used).
  .ltr & {
    // The form may sometimes get inside <div dir="..."> element, so we need to reset the text
    // direction.
    direction: ltr;
  }

  .rtl & {
    direction: rtl;
  }
}

.cd-commentForm-checkboxes {
  .ltr & {
    direction: ltr;
    text-align: left;

    .oo-ui-fieldLayout {
      margin-right: 1em;
      margin-left: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .rtl & {
    direction: rtl;
    text-align: right;

    .oo-ui-fieldLayout {
      margin-left: 1em;
      margin-right: 0;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.cd-commentForm-buttons {
  .ltr & {
    direction: ltr;

    &-start {
      float: left;
    }

    &-end {
      float: right;
    }
  }

  .rtl & {
    direction: rtl;

    &-start {
      float: right;
    }

    &-end {
      float: left;
    }
  }
}

.cd-commentForm-signature {
  opacity: 0.67;
}

.cd-commentForm-dummyElement {
  height: 0;
}

.cd-commentForm-summaryInput {
  margin-top: 0.214286em;
}

.cd-commentForm-checkboxes {
  margin-top: 0.5em;
  line-height: 1;
}

.cd-commentForm-buttons {
  display: flow-root;
  margin-top: 0.5em;
}

.cd-commentForm-addSection,
.cd-commentForm-addSubsection,
.cd-commentForm-sectionOpeningComment {
  margin-top: 1em;
}

.cd-commentForm-commentInput {
  .wikiEditor-ui .wikiEditor-ui-view {
    border: 0;
  }

  .oo-ui-inputWidget-input.oo-ui-inputWidget-input.oo-ui-inputWidget-input {
    position: relative;

    // Fix for jumping text until T169335 is resolved.
    padding-bottom: 1.4285714em;
    overflow-y: hidden;

    // Safer for the case with page scaling according to the system font.
    &:focus {
      outline: 0;
    }
  }

  .wikiEditor-ui-top {
    border: 1px solid #a2a9b1;
    border-bottom: 0;
  }

  &.oo-ui-textInputWidget.oo-ui-widget-disabled {
    border-color: #c8ccd1;

    .wikiEditor-ui-top,
    + .cd-insertButtons {
      pointer-events: none;
    }

    .oo-ui-inputWidget-input,
    .wikiEditor-ui-top,
    + .cd-insertButtons {
      border-color: #c8ccd1;
    }
  }
}

.cd-reformattedComments .cd-commentForm-signature,
.cd-reformattedComments .cd-helpPopup-hideForReformattedComments,

// In case the user didn't turn it off
.ext-discussiontools-init-replylink-buttons.ext-discussiontools-init-replylink-buttons,
.cd-previewArea .ext-discussiontools-init-section-subscribe {
  display: none;
}

.cd-commentForm-headlineInput,
.cd-editnotice {
  margin-bottom: 0.214286em;
}

.cd-replyButtonWrapper {
  margin-top: 0.5em;
}

.cd-previewArea {
  display: flow-root;
  margin-top: 0.5em;
  padding: 0.5em 0.75em;
  background-color: #f8f9fa;

  > .mw-parser-output > *:first-child {
    margin-top: 0;

    > *:first-child {
      margin-top: 0;
    }
  }

  > .mw-parser-output > *:last-child {
    margin-bottom: 0;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  // Numbers appear when there is more than one header in the preview.
  .mw-headline-number,

  .diff-lineno {
    display: none;
  }

  .cd-closeButton {
    background-color: #f8f9fa;
  }

  &:empty {
    margin: 0;
    padding: 0;
  }

  &-above {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: calc(~"100% - 1.5em");
  }

  &-label {
    color: #72777d;
    margin-bottom: 0.5em;
  }

  .sitedir-ltr & {
    direction: ltr;

    &-indentedComment > .mw-parser-output > dl {
      margin-left: 0;

      > dd {
        margin-left: 0;
      }
    }
  }

  .sitedir-rtl & {
    direction: rtl;

    &-indentedComment > .mw-parser-output > dl {
      margin-right: 0;

      > dd {
        margin-right: 0;
      }
    }
  }
}

.cd-messageArea {
  width: 100%;
}

.cd-previewArea,
.cd-messageArea {
  // To position .cd-closeButton absolutely
  position: relative;

  clear: both;
}

.cd-commentForm-inNumberedList .cd-previewArea-above,
.cd-commentForm-inNumberedList .cd-messageArea {
  // In Chrome, if the form is in a numbered list, this and "+ *" rule make the number to appear
  // before the textarea (which is better), not before the message.
  float: left;

  + * {
    clear: both;
  }
}

.cd-closeButton {
  position: absolute;
  z-index: 1;

  // It is common for messages displayed in the message area, such as editintros and editnotices, to
  // have a 1px border, so we make it as well to avoid the border being overlapped by the close
  // button.
  top: 1px;

  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M4.34 2.93l12.73 12.73-1.41 1.41L2.93 4.35z'/%3E%3Cpath d='M17.07 4.34L4.34 17.07l-1.41-1.41L15.66 2.93z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease-in;

  .cd-messageArea & {
    background-color: var(--cd-content-background-color);
  }

  .cd-previewArea:hover &,
  .cd-messageArea:hover & {
    opacity: 1;
  }

  .cd-mobile & {
    top: 0.5em;
  }

  // Preview area always has text in content language.
  .ltr &,
  .sitedir-ltr .cd-previewArea & {
    right: 1px;
    left: unset;

    .cd-mobile& {
      right: 0.5em;
    }
  }

  .rtl &,
  .sitedir-rtl .cd-previewArea & {
    left: 1px;
    right: unset;

    .cd-mobile& {
      left: 0.5em;
    }
  }
}

.cd-message {
  margin-bottom: 0.5em;
}

.cd-popupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 0.875rem;
}

.cd-insertButtons {
  background-color: #f8f9fa;
  border-color: #a2a9b1;
  border-width: 0 1px 1px;
  border-style: solid;
  font-size: 0.928571em;
  line-height: 1.384616em;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  &:empty {
    border: 0;
  }

  &-button {
    color: #222;
    padding: 2px 0.5em 3px;
    white-space: nowrap;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #222;

      // As with toolbar buttons
      background-color: rgba(0, 23, 70, 0.086);
    }

    .ltr & {
      float: left;
    }

    .rtl & {
      float: right;
    }
  }

  .sitedir-ltr & {
    direction: ltr;
  }

  .sitedir-rtl & {
    direction: rtl;
  }
}

.cd-toolbarPlaceholder {
  background-color: #f8f9fa;
  border-color: #a2a9b1;
  border-width: 1px 1px 0;
  border-style: solid;
  height: 2.2857143em;
  margin: 1px 0 -1px;

  .cd-commentForm-pending & {
    // To match the color of the rest of the borders while the form is the pending state.
    border-color: #c8ccd1;
  }
}

// Reset a global style
.cd-autocompleteContainer .highlight {
  font-weight: normal;
}
