.cd-commentPart-first {
  margin-top: 0.5em;
}

.cd-commentPart-last {
  margin-bottom: 0.5em;
}

ol > li.cd-commentPart-first {
  margin-top: 0;
}

ol > li.cd-commentPart-last {
  margin-bottom: 0.1em;
}

// Repeat the class to gain specificity in the Minerva Neue skin
.cd-commentLevel.cd-commentLevel:not(ol) {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

.sitedir-ltr .cd-commentLevel:not(ol) {
  padding-left: 1em;
  padding-right: 0;
  margin-left: 1em;
  margin-right: 0;
  border-left: 1px solid #c8ccd1;
  border-right: 0;
}

.sitedir-rtl .cd-commentLevel:not(ol) {
  padding-left: 0;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 1em;
  border-left: 0;
  border-right: 1px solid #c8ccd1;
}

.sitedir-ltr dl.cd-commentLevel > dd {
  margin-left: 0;
}

.sitedir-rtl dl.cd-commentLevel > dd {
  margin-right: 0;
}

.cd-button-pending.cd-button-pending.cd-button-pending .oo-ui-buttonElement-button {
  cursor: wait;
}
