.cd-commentUnderlay {
  position: absolute;
  z-index: -1;

  // Note that the classes are in the order of their precedence if you go from the last to the
  // first.
  &-new {
    background-color: var(--cd-comment-new-color);
  }

  &-own {
    background-color: var(--cd-comment-own-color);
  }

  &-deleted {
    background-color: var(--cd-comment-deleted-color);
  }

  &-focused {
    background-color: var(--cd-comment-focused-color);
  }
}

.cd-commentOverlay {
  position: absolute;
  display: none;
  pointer-events: none;
  justify-content: flex-end;
  line-height: 1.357143em;

  &-focused {
    display: flex;
  }

  &-innerWrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    font-size: 14px;
    pointer-events: all;
    display: flex;
    flex-direction: row;
  }

  &-gradient {
    width: 1.4em;
    display: inline-block;

    // 1px from the top and bottom is a compensation for 1px button borders.
    padding: 1px 1px 2px;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-content {
    display: inline-flex;
    padding: 0 0.5em 1px;
    background-color: var(--cd-comment-focused-color);
    flex-direction: row;
  }

  .cd-button.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
  .cd-button.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
    background-color: transparent;
  }

  .oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
    line-height: 1.357143em;
  }
}

.ltr .cd-commentOverlay {
  &-content {
    .oo-ui-buttonWidget {
      margin-right: 0;
    }

    .cd-commentButton:not(:first-child) {
      margin-left: 1em;
    }
  }
}

.rtl .cd-commentOverlay {
  &-content {
    .oo-ui-buttonWidget {
      margin-left: 0;
    }

    .cd-commentButton:not(:first-child) {
      margin-right: 1em;
    }
  }
}

body:not(.skin-monobook) .cd-commentButton-icon.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
  padding-top: 1.4285714em;
  padding-left: 1.4285714em;
  min-width: unset;
  margin-top: -1px;

  > .oo-ui-iconElement-icon {
    left: 0;
  }
}

.cd-commentLayersContainerParent-relative {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
