.cd-comment-header {
  font-size: 0.9285714em;
  margin-bottom: 0.2307692em;
}

.cd-comment-author-links {
  -webkit-user-select: none;
  user-select: none;
}

.cd-comment-menu {
  font-size: 0.9285714em;
  margin-top: 0.3076923em;
  -webkit-user-select: none;
  user-select: none;
}

.cd-comment-header,
.cd-comment-menu {
  line-height: 1.6153846;
}

.cd-comment-author {
  font-weight: bold;
  font-size: 1.0769231em;
}

.cd-comment-button {
  &.cd-button-disabled.cd-button-disabled.cd-button-disabled {
    color: #72777d;
  }

  &-label.cd-comment-button-label {
    color: #54595d;
    text-decoration: none;

    &:hover {
      color: var(--cd-link-hover-color);
    }

    &:active {
      color: var(--cd-link-active-color);
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: -1px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

  &-goToParent {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23a2a9b1'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%230645ad'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23faa700'%3E%3Cpath d='M10 5l8 10H2z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &-goToChild {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23a2a9b1'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%230645ad'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23faa700'%3E%3Cpath d='M10 15L2 5h16z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .sitedir-ltr &,
  .sitedir-rtl .mw-content-ltr & {
    margin-left: 1em;
    margin-right: 0;

    &:first-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .sitedir-rtl &,
  .sitedir-ltr .mw-content-rtl & {
    margin-right: 1em;
    margin-left: 0;

    &:first-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// Comment buttons should inherit the text direction, not matter the interface language. If the
// "mw-content-rtl" class would be thrown away one day, then use [dir="rtl"]? (Don't specify styles
// for [dir="ltr"] as they could be expensive.)
.mw-content-rtl {
  .cd-comment-menu .cd-comment-button,
  .cd-comment-header .cd-comment-author-wrapper a {
    unicode-bidi: isolate;
  }

  .cd-comment-timestamp {
    unicode-bidi: plaintext;
  }
}

.cd-comment-part-first {
  margin-top: 0.5em;

  .cd-reformattedComments & {
    margin-top: 0.75em;
  }
}

// Override `.skin-vector .cd-parsed dd`
.cd-comment-part-last.cd-comment-part-last.cd-comment-part-last {
  margin-bottom: 0.5em;

  .cd-reformattedComments & {
    margin-bottom: 0.75em;
  }
}

ol > li.cd-comment-part-first.cd-comment-part-first,
ol > li > .cd-comment-part-first.cd-comment-part-first:first-child {
  margin-top: 0;
}

// Because irregular gaps between list items are annoying, especially between numbered list items
// that contain comments. But don't add the style while CD hasn't loaded to avoid jumps.
.skin-vector .cd-parsed li,
.skin-vector .cd-parsed dd,
.skin-vector .cd-parsed ol > li.cd-comment-part-last.cd-comment-part-last {
  margin-bottom: 0.14285714em;
}

// Repeat the class to gain specificity in the Minerva Neue skin
.cd-commentLevel.cd-commentLevel:not(ol) {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

// We use "mw-content-" classes to account for cases with LTR content in RTL wikis and vice versa.
// For example:
// https://he.wikipedia.org/w/index.php?title=ויקיפדיה:חדשות&oldid=32116639#Desktop_improvements._A_new_change!
.sitedir-ltr .cd-commentLevel:not(ol) > li,
.sitedir-ltr .cd-commentLevel:not(ol) > dd,
.sitedir-rtl .mw-content-ltr .cd-commentLevel:not(ol) > li,
.sitedir-rtl .mw-content-ltr .cd-commentLevel:not(ol) > dd {
  padding-left: 1em;
  padding-right: 0;
  margin-left: 1em;
  margin-right: 0;
  border-left: 1px solid #c8ccd1;
  border-right: 0;
}

.sitedir-rtl .cd-commentLevel:not(ol) > li,
.sitedir-rtl .cd-commentLevel:not(ol) > dd,
.sitedir-ltr .mw-content-rtl .cd-commentLevel:not(ol) > li,
.sitedir-ltr .mw-content-rtl .cd-commentLevel:not(ol) > dd {
  padding-left: 0;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 1em;
  border-left: 0;
  border-right: 1px solid #c8ccd1;
}

// Workaround for close a visual gap to the previous item. The unfortunate reason for it is that we
// need to avoid wrapping the contents of almost every comment in a <div> (so that its reply comment
// form is not included in the comment) which would increase the parsing time significantly. Four
// times to override
// `.cd-thread-button-container.cd-thread-button-container.cd-thread-button-container`.
.cd-connectToPreviousItem.cd-connectToPreviousItem.cd-connectToPreviousItem.cd-connectToPreviousItem {
  margin-top: -0.5em;
  padding-top: 0.5em;

  .cd-reformattedComments & {
    margin-top: -0.75em;
    padding-top: 0.75em;
  }

  > :first-child {
    margin-top: 0;

    > :first-child {
      margin-top: 0;

      > :first-child {
        margin-top: 0;
      }
    }
  }
}

.cd-thread-clickArea {
  position: absolute;

  // Above the page navigation (.cd-pageNav)
  z-index: 3;

  width: 3px;
  padding-left: var(--cd-thread-line-side-margin);
  padding-right: var(--cd-thread-line-side-margin);

  &-hovered {
    cursor: pointer;

    .cd-thread-line {
      background-color: #72777d;
      opacity: 1;
      transition: opacity 0.2s ease-in;

      &-extended::after {
        background-image: linear-gradient(to bottom, #72777d, transparent);
      }
    }
  }
}

.cd-thread-line {
  width: 100%;
  height: 100%;
  opacity: 0;

  &-extended::after {
    display: block;
    content: '';
    height: 10px;
    top: 100%;
    position: relative;
  }
}

.cd-changeMark {
  font-size: 85%;
  color: #54595d;

  .cd-reformattedComments & {
    font-size: 100%;
  }

  .cd-reformattedComments .mw-content-ltr &,
  .cd-reformattedComments .mw-content-rtl .mw-content-ltr & {
    margin-left: 1em;
    margin-right: auto;
  }

  .cd-reformattedComments .mw-content-rtl &,
  .cd-reformattedComments .mw-content-ltr .mw-content-rtl & {
    margin-left: auto;
    margin-right: 1em;
  }

  &-before {
    .sitedir-ltr &,
    .sitedir-rtl .mw-content-ltr & {
      margin-left: auto;
      margin-right: 0.75em;
    }

    .sitedir-rtl &,
    .sitedir-ltr .mw-content-rtl & {
      margin-left: 0.75em;
      margin-right: auto;
    }
  }
}
