#cd-navPanel {
  position: fixed;
  top: 41.5%;
  z-index: 3;
  width: 34px;
  background-color: #fff;
  border: 1px solid #a2a9b1;

  // Enough to make it pass AA level for contrast ratio on Vector in case of
  // .cd-navPanel-refreshButton-relevant (#7d00cc).
  opacity: 0.695;

  font-size: 14px;
  line-height: 1.2;
  color: #000;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    opacity: 1;
  }

  &-refreshButton {
    padding: 4px;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z'/%3E%3C/svg%3E");
    background-size: 20px 20px;

    &:not(:empty) {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }

  &-previousButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M1 13.75l1.5 1.5 7.5-7.5 7.5 7.5 1.5-1.5-9-9-9 9z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
  }

  &-nextButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M19 6.25l-1.5-1.5-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
  }

  &-firstUnseenButton {
    height: 17px;
    padding: 7px 0;
  }

  &-commentFormButton {
    background-size: 16px 16px;

    // ~1px lower
    background-position-y: 54%;
  }
}

.sitedir-ltr #cd-navPanel-commentFormButton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 9.06a1.39 1.39 0 1 1 1.37-1.39A1.39 1.39 0 0 1 5 9.06zm5.16 0a1.39 1.39 0 1 1 1.39-1.39 1.39 1.39 0 0 1-1.42 1.39zm5.16 0a1.39 1.39 0 1 1 1.39-1.39 1.39 1.39 0 0 1-1.42 1.39z'/%3E%3C/svg%3E");
}

.sitedir-rtl #cd-navPanel-commentFormButton {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M0 2v12c0 1.1.9 2 2 2h14l4 4V2c0-1.1-.9-2-2-2H2C.9 0 0 .9 0 2zm13.6 5.7c0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4s-.6 1.4-1.4 1.4c-.8-.1-1.4-.7-1.4-1.4zM9.9 9.1s-.1 0 0 0c-.8 0-1.4-.6-1.4-1.4 0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4s-.7 1.4-1.4 1.4zm-5.2 0c-.8 0-1.4-.6-1.4-1.4 0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4 0 .7-.7 1.4-1.4 1.4z'/%3E%3C/svg%3E");
}

.ltr #cd-navPanel {
  left: 0;
  border-left-width: 0;
}

.rtl #cd-navPanel {
  right: 0;
  border-right-width: 0;
}

.cd-navPanel-button {
  display: block;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 31px;

  &:hover {
    background-color: #eaecf0;
  }

  &:not(:first-child) {
    position: relative;
    margin-top: 1px;

    &::before {
      position: absolute;
      top: -1px;
      left: 4px;
      margin: 0 auto 1px;
      width: 26px;
      height: 0;
      border-top: 1px solid #a2a9b1;
      content: "";
    }
  }
}

.cd-navPanel-refreshButton-relevant {
  color: #7d00cc;
}
