.cd-section-button-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ol .cd-section-button {
  margin-top: -2px;
}

// Override the default styles to make the section menu appear correctly on RTL wikis with LTR
// interface and vice versa.
.mw-editsection::before {
  .sitedir-rtl.ltr & {
    content: '\200B\200E';
  }

  .sitedir-ltr.rtl & {
    content: '\200B\200F';
  }
}

.sitedir-rtl.ltr {
  .mw-editsection-bracket:first-of-type {
    margin-right: 0.25em;
    margin-left: 0;
  }

  .mw-editsection-bracket:last-of-type {
    margin-left: 0.25em;
    margin-right: 0;
  }
}

.cd-dialog-moveSection {
  &-code {
    margin: 1em 0;

    &-note {
      font-size: 95%;
    }
  }
}

.cd-section-bar {
  margin: 0.25em 0;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: block;

    // We add nearly the same properties as OOUI buttons in the actions block have to make sure the
    // elements are vertically aligned.
    box-sizing: border-box;
    min-height: 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;

    color: #54595d;
    line-height: 1.7142857em;
    white-space: nowrap;
    unicode-bidi: plaintext;

    &-authorCount-innerWrapper {
      cursor: default;
    }

    .sitedir-ltr &,
    .sitedir-rtl .mw-content-ltr & {
      margin-left: 0;
      margin-right: 1.5em;
    }

    .sitedir-rtl &,
    .sitedir-ltr .mw-content-rtl & {
      margin-left: 1.5em;
      margin-right: 0;
    }
  }

  &-button {
    > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon,
    .oo-ui-optionWidget > .oo-ui-iconElement-icon.oo-ui-iconElement-icon {
      min-width: 16px;
      min-height: 16px;
    }

    .oo-ui-buttonElement-button > .oo-ui-labelElement-label.oo-ui-labelElement-label {
      line-height: 1.53846153em;
    }

    &.cd-section-bar-button > .oo-ui-buttonElement-button {
      min-width: 30px;
      min-height: 30px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-weight: normal;
    }
  }

  &-moremenu > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon.oo-ui-iconElement-icon {
    background-size: 16px 16px;
  }

  .ext-discussiontools-visualenhancements-enabled .ext-discussiontools-init-section + & {
    margin-top: -12px;
  }
}

.cd-section-metadata {
  display: flex;
  flex-wrap: wrap;

  &-authorsPopup {
    font-size: 0.8125rem;

    > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-body {
      width: max-content !important;
      max-width: 30em !important;
    }
  }
}

.cd-section-metadata,
.cd-section-actions {
  font-size: var(--cd-content-metadata-font-size);
}

.cd-section-actions {
  font-weight: normal;
  white-space: nowrap;

  .sitedir-ltr &,
  .sitedir-rtl .mw-content-ltr & {
    margin-left: auto;
    margin-right: -0.4615385em;
    padding-left: 1em;
  }

  .sitedir-rtl &,
  .sitedir-ltr .mw-content-rtl & {
    margin-left: -0.4615385em;
    margin-right: auto;
    padding-right: 1em;
  }
}

.cd-subsection-heading {
  display: flex;
  align-items: baseline;
  overflow: unset;
}

.cd-section-hidden {
  visibility: hidden;
}
