// Skin fixes for talk pages
.skin-monobook {
  .cd-commentUnderlay {
    z-index: -1;
  }

  .cd-commentOverlay-innerWrapper {
    z-index: 2;
  }

  .cd-commentButton.oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
    line-height: 1.172em;
  }

  .cd-commentButton-icon.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
    padding: 0;

    > .oo-ui-iconElement-icon {
      margin: 0;
      width: 20px;
      height: 20px;
    }
  }

  .cd-commentInput {
    border: 1px solid #ccc;

    .wikiEditor-ui-toolbar {
      z-index: auto;
    }

    &.oo-ui-textInputWidget.oo-ui-widget-disabled {
      border-color: #ddd;

      .oo-ui-inputWidget-input,
      .wikiEditor-ui-top,
      + .cd-insertButtons {
        border-color: #ddd;
      }
    }
  }

  .cd-insertButtons,
  .cd-toolbarPlaceholder {
    border-color: #ccc;
  }

  .cd-loadingPopup {
    width: 15.5em;
  }

  .cd-copyLinkDialog .oo-ui-textInputWidget input {
    height: 35px;
  }
}

.skin-timeless {
  .mw-body-content {
    position: relative;
  }

  .cd-loadingPopup {
    width: 15em;
  }

  .cd-loadingPopup-logo-partBackground {
    background-color: #eaecf0 !important;
  }
}

.skin-modern {
  #mw-content-text {
    position: relative;
  }

  .cd-loadingPopup {
    width: 18.2em;
  }
}
