.cd-comment-button-ooui.cd-comment-button-ooui.cd-comment-button-ooui,
.cd-section-button.cd-section-button.cd-section-button,
.cd-thread-button.cd-thread-button.cd-thread-button.cd-thread-button {
  &:first-child {
    margin-left: 0;
    margin-right: 0;
  }

  > .oo-ui-buttonElement-button {
    padding: 0;
  }
}

.cd-section-button.cd-section-button,
.cd-thread-button.cd-thread-button {
  vertical-align: baseline;

  > .oo-ui-buttonElement-button {
    white-space: normal;
    vertical-align: baseline;
  }
}

// Multiline thread buttons misaligned with the number
ol > .cd-thread-button-container > .cd-thread-button {
  vertical-align: top;

  > .oo-ui-buttonElement-button {
    // Seems to work without this, but to be sure
    vertical-align: top;
  }
}

// Three times to override `.skin-vector .cd-parsed dd`.
.cd-thread-button-container.cd-thread-button-container.cd-thread-button-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .skin-vector ol > li& {
    margin-top: 0.14285714em;
    margin-bottom: 0.14285714em;
  }
}

// Compensation for the 1px border
.cd-section-button.cd-section-button.cd-section-button,
.cd-thread-button.cd-thread-button.cd-thread-button.cd-thread-button {
  .sitedir-ltr &,
  .sitedir-rtl .mw-content-ltr & {
    margin-left: -1px;
  }

  .sitedir-rtl &,
  .sitedir-ltr .mw-content-rtl & {
    margin-right: -1px;
  }
}

.cd-thread-button-invisible {
  visibility: hidden;
}

.cd-button-expandNote.cd-button-expandNote.cd-button-expandNote > .oo-ui-buttonElement-button {
  > .oo-ui-iconElement-icon {
    background-position: 0 40%;
  }

  .sitedir-ltr &,
  .sitedir-rtl .mw-content-ltr & {
    padding-left: 1em;
    padding-right: 0;

    > .oo-ui-iconElement-icon {
      transform: none;
      left: 0;
      right: auto;
    }
  }

  .sitedir-rtl &,
  .sitedir-ltr .mw-content-rtl & {
    padding-left: 0;
    padding-right: 1em;

    > .oo-ui-iconElement-icon {
      transform: scaleX(-1);
      left: auto;
      right: 0;
    }
  }
}

.cd-button-expandNote {
  > .oo-ui-buttonElement-button .oo-ui-iconElement-icon {
    // More thick icon
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 -8.74228e-08L-6.99382e-07 2L7 9L-8.74228e-08 16L2 18L11 9L2 -8.74228e-08Z' fill='black'/%3E%3C/svg%3E");

    background-size: 7px;
  }

  .rtl & {
    direction: rtl;
  }
}

.cd-button-ooui.oo-ui-buttonElement > .oo-ui-buttonElement-button {
  min-height: unset;
}

// Don't show a number in front of the button in a numbered list if there is no comment form insode
// the list item.
ol > .cd-replyWrapper:not(.cd-replyWrapper-hasCommentForm) {
  list-style-type: none;
}

// #cd-notExistingClass is used to override other possibly set "display" properties.
.cd-hidden:not(#cd-notExistingClass),

// "cd-hide" and "cd-show" classes are supposed to be used by users to mark elements on wiki pages
// that should be hidden/shown in CD (for example, texts in edit intros that are irrelevant/relevant
// for CD).
.action-view .cd-hide {
  display: none !important;
}

.cd-show {
  div&,
  p& {
    display: block !important;
  }

  span& {
    display: inline !important;
  }
}

.cd-destructiveText {
  color: #d33;
}

.cd-loadingPopup {
  position: fixed;
  bottom: 0;
  width: 10em;

  // z-index of OOUI windows + 10
  z-index: 111;

  .sitedir-ltr.ltr & {
    left: 0;
    direction: ltr;
  }

  .sitedir-ltr.rtl &,
  .sitedir-rtl & {
    right: 0;
    direction: rtl;
  }

  .skin-vector-2022 & {
    width: 0;
  }

  .sitedir-ltr.skin-vector-2022 & {
    margin-left: 2em;
  }

  .sitedir-rtl.skin-vector-2022 & {
    margin-right: 2em;
  }

  &-logo {
    display: block;
    margin: 0 auto 2em;
    width: 55px;
    position: relative;

    &-partBackground {
      position: absolute;
      left: 8px;
      top: 6px;
      width: 27px;
      height: 21px;
      z-index: -1;
      background-color: var(--cd-sidebar-color);
    }
  }
}

@media screen and (min-width: 982px) {
  .cd-loadingPopup {
    width: 11em;
  }
}

.cd-button-disabled.cd-button-disabled {
  cursor: default;
}

.cd-button-pending.cd-button-pending,
.cd-button-pending.cd-button-pending.cd-button-pending .oo-ui-buttonElement-button {
  cursor: wait;
}

.cd-dialog-copyLink {
  .oo-ui-actionFieldLayout.oo-ui-fieldLayout-align-top,
  .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,
  .oo-ui-textInputWidget {
    max-width: 60em;
  }

  .oo-ui-textInputWidget input {
    height: 34px;
  }

  &-linkTypeSelect {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
  }
}

.cd-diffView {
  &-diff {
    margin: 1em 0;
  }

  &-nextDiffLink {
    .ltr & {
      float: right;
      margin-left: 1em;
    }

    .rtl & {
      float: left;
      margin-right: 1em;
    }
  }
}

.cd-commentDiffView-below {
  margin: 0.5em 0 0;
  text-align: center;
}

.cd-currentUserLink {
  background-color: #f0def7;
}

.cd-rcnotice-text,
.cd-tsnotice-text {
  margin-top: 1em;
}

.cd-rcnotice-img,
.cd-tsnotice-img {
  display: block;
  margin: 0 auto;
}

.cd-rcnotice-arrow {
  margin: 0.5em auto;
}

.cd-message-notFound {
  margin: 0.5em 0;
}

// Reset the default. There can be navboxes in discussion threads.
.mw-collapsible-toggle {
  li &,
  .mw-content-ltr li &,
  .mw-content-rtl .mw-content-ltr li & {
    float: right;
  }

  .mw-content-rtl li &,
  .mw-content-ltr .mw-content-rtl li & {
    float: left;
  }
}

.cd-skip {
  list-style-type: none;
}

// T295107
.oo-ui-buttonSelectWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-widget-disabled.cd-dialog-copyLink-diffButton > .oo-ui-buttonElement-button {
  z-index: 0;
}
