.cd-toc-commentCount {
  color: #72777d;
  text-decoration: inherit;
}

.toc .cd-toc-commentCount {
  display: table-cell;
}

.sidebar-toc-text {
  text-decoration: inherit;
}

.sitedir-ltr .cd-toc-commentCount {
  padding-left: 0.75em;
}

.sitedir-rtl .cd-toc-commentCount {
  padding-right: 0.75em;
}

.cd-toc-subscribedTo {
  font-weight: bold;
}

.sidebar-toc {
  .cd-toc-more {
    font-size: 0.875em;
  }

  .cd-toc-newCommentList {
    margin-top: 0;
  }

  .cd-toc-addedSection.cd-toc-addedSection.cd-toc-addedSection.cd-toc-addedSection {
    display: list-item;
  }

  .cd-toc-newCommentList,
  .cd-toc-addedCommentList {
    margin-top: 0;
  }
}

.cd-toc-addedCommentList .cd-toc-bullet,
.cd-toc-addedCommentList .cd-toc-more,

// Need to override ".sidebar-toc .sidebar-toc-link"
.cd-toc-addedCommentList.cd-toc-addedCommentList a,
.cd-toc-addedSection.cd-toc-addedSection a {
  color: #72777d;
}

.cd-toc-more {
  cursor: help;
}

.cd-toc-hiddenTocNumber {
  visibility: hidden;
}

// Override ".sidebar-toc .sidebar-toc-numb"
.cd-toc-bullet.sidebar-toc-numb {
  display: inline;
}

.ltr .cd-toc-bullet {
  padding-right: 0.5em;
}

.rtl .cd-toc-bullet {
  padding-left: 0.5em;
}

.cd-toc-commentLink.cd-toc-commentLink {
  padding: 0;
}
