.cd-toc-commentCount {
  color: #72777d;
  text-decoration: inherit;
  user-select: none;

  .toc & {
    display: table-cell;
  }

  .sitedir-ltr & {
    padding-left: 0.75em;
  }

  .sitedir-rtl & {
    padding-right: 0.75em;
  }
}

.sidebar-toc-text {
  text-decoration: inherit;
}

.cd-toc-subscribedTo {
  font-weight: bold;
}

.sidebar-toc {
  .cd-toc-more {
    font-size: 0.875em;
  }

  .cd-toc-newCommentList {
    margin-top: 0;
  }

  .cd-toc-addedSection.cd-toc-addedSection.cd-toc-addedSection.cd-toc-addedSection {
    display: list-item;
  }

  .cd-toc-newCommentList,
  .cd-toc-addedCommentList {
    margin-top: 0;
  }

  .cd-toc-addedCommentList {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='13'%3E%3Ccircle cx='2.5' cy='9' r='2.5' fill='%2372777d'/%3E%3C/svg%3E");
  }
}

.cd-toc-addedCommentList .cd-toc-bullet,
.cd-toc-addedCommentList .cd-toc-more,

// Need to override ".sidebar-toc .sidebar-toc-link"
.cd-toc-addedCommentList.cd-toc-addedCommentList a,
.cd-toc-addedSection.cd-toc-addedSection a {
  color: #72777d;
}

.cd-toc-more {
  cursor: help;
}

.cd-toc-hiddenTocNumber {
  visibility: hidden;
}

.cd-toc-bullet {
  // Override ".sidebar-toc .sidebar-toc-numb"
  &.sidebar-toc-numb {
    display: inline;
  }

  .ltr & {
    padding-right: 0.5em;
  }

  .rtl & {
    padding-left: 0.5em;
  }
}

.cd-toc-commentLink.cd-toc-commentLink {
  padding: 0;
}
