.cd-commentLink-innerWrapper {
  &::before {
    content: var(--cd-parentheses-start);
  }

  &::after {
    content: var(--cd-parentheses-end);
  }
}

.cd-commentLink-relevant a {
  font-weight: bold;
}
