@line-height: 1.4285714em;
@codemirror-editor-additional-padding: 5px;
@border-color-var: var(--border-color-base, #a2a9b1);

// Keep this synced with CommentForm#createTextInputs
@num-rows-comment: 4;
@num-rows-section: 6;

.cd-commentForm {
	display: flow-root;
	font-weight: normal;
	text-align: start;

	// The form may sometimes get inside a `<div dir="...">` element, so we need to reset the text
	// direction.
	direction: var(--cd-direction-user);

	margin: 0.5em 0;

	.cd-reformattedComments & {
		margin-block: 0.75em;
	}

	.oo-ui-textInputWidget {
		max-width: none;
	}

	.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
		vertical-align: middle;
	}

	table.diff {
		margin-bottom: 0.5em;
	}

	.wikiEditor-ui-left {
		// Make a number in <ol> lists appear in front of the textarea, not below it.
		float: none;
	}

	.wikiEditor-ui-toolbar {
		// To make the shadow appear.
		z-index: 1;
	}

	.oo-ui-textInputWidget .oo-ui-inputWidget-input {
		border-radius: 0;
	}

	.tool-button {
		// Until T312933 is fixed
		width: 2.14285714em;
		height: 2.14285714em;
		border: 1px solid transparent;

		// Otherwise, text may be visible in some combinations of content and user language (for
		// example, Russian Wikipedia and uselang=he).
		direction: var(--cd-direction-content);

		background-size: 1.4285714em;
	}

	.tool-button[rel="quote"] {
		background-color: var(--color-base-fixed, #202122);

		// `mask-image` was added to Chrome only in 2023-12-05
		-webkit-mask-image: url('/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=quotes&lang=en&skin=vector');
		mask-image: url('/w/load.php?modules=oojs-ui.styles.icons-editing-advanced&image=quotes&lang=en&skin=vector');
		-webkit-mask-size: 1.4285714em;
		mask-size: 1.4285714em;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
	}

	.cd-highlight .tool-button[rel="quote"] {
		background-color: var(--color-progressive, #36c);
	}

	.oo-ui-icon-syntax-highlight,
	.oo-ui-icon-cm-search {
		mask-size: contain;
		-webkit-mask-size: contain;
	}

	// Enough of this gray
	.wikiEditor-ui-toolbar {
		background-color: var(--background-color-base, #fff);
	}

	// Until T312970 is fixed
	.wikiEditor-ui-toolbar .tabs span.tab a {
		height: 2.14285714em;
		line-height: 2.14285714em;
		border: 1px solid transparent;

		&::before {
			height: 2.14285714em;
		}
	}

	.wikiEditor-ui-toolbar .group .label {
		height: 2em;
		line-height: 2em;
	}

	// Hide the group that has the "Preview" button on action=edit pages, but nothing in our case.
	.wikiEditor-ui-toolbar .group.empty {
		display: none;
	}

	// For absolutely positioned popups
	.wikiEditor-ui-text {
		position: relative;
	}


	/* CodeMirror */

	.cm-editor {
		background-color: var(--background-color-base, #fff);
		outline: 0;
		border: 0;

		&.cm-editor.cm-editor {
			// For autoresize
			height: 100% !important;
		}
	}

	.cm-gutters,

	// Override `.ͼ1 .cm-content`
	.cm-content.cm-content {
		min-height: calc(@line-height * (@num-rows-comment + 1) + @codemirror-editor-additional-padding) !important;
	}

	&-addSection,
	&-addSubsection,
	&-sectionOpeningComment {
		.cm-gutters,
		.cm-content.cm-content {
			min-height: calc(@line-height * (@num-rows-section + 1) + @codemirror-editor-additional-padding) !important;
		}
	}

	.ext-codemirror-wrapper--hidden textarea {
		// By default, it's `inline-block` which creates a gap between the textarea and the buttons.
		display: block !important;
	}

	.cm-panels,
	.cm-scroller {
		border: 1px solid @border-color-var;
	}

	.cm-panels,
	.cm-panel.cm-panel.cm-panel:last-child {
		border-bottom: 0;
	}

	.cm-focused .cm-scroller {
		border: 1px solid var(--border-color-progressive--focus, #36c);
		outline: 1px solid var(--color-progressive, #36c);

		// Fix for Firefox on Windows, e.g. with font size 112% where there appears a gap between the
		// border and the outline
		outline-offset: calc(-2px / var(--cd-pixel-deviation-ratio));
	}

	.cm-gutters {
		padding: 1px 0 1px 1px;
		box-sizing: content-box;
	}

	.cm-focused .cm-gutters {
		// Replace padding with margin to prevent the gutters from obstructing the blue outline.
		padding: 0;
		margin: 1px 0 1px 1px;
	}

	.cm-content {
		// Match the padding (when unfocused) or margin (when focused) of `.cm-gutters`.
		margin: 1px 1px 1px 0;
	}

	.ͼ1 .cm-scroller {
		// Proportional font size
		font-family: monospace, monospace;
	}

	.group-panels.group-panels {
		border-inline-end: none;
	}
}

body:not(.skin-monobook) .cd-commentForm .group-codemirror .oo-ui-buttonElement-button {
	height: 2.25em;
}

.cd-commentForm-checkboxes {
	text-align: start;
	direction: var(--cd-direction-user);

	.oo-ui-fieldLayout {
		margin-inline: 0 1em;

		&:last-child {
			margin-inline-end: 0;
		}
	}
}

.cd-commentForm-buttons {
	direction: var(--cd-direction-user);

	&-start {
		float: var(--cd-float-user-start);
	}

	&-end {
		float: var(--cd-float-user-end);
	}
}

.cd-commentForm-signature,
.cd-commentForm-previewArea span[style="opacity: 0.6;"] {
	// Too low contrast in DT
	opacity: 0.67 !important;
}

.cd-commentForm-dummyElement {
	height: 0;
	overflow: hidden;
}

.cd-commentForm-summaryInput {
	margin-top: 0.214286em;
}

.cd-commentForm-checkboxes {
	margin-top: 0.5em;
	line-height: 1;
}

.cd-commentForm-buttons {
	display: flow-root;
	margin-top: 0.5em;
}

.cd-commentForm-addSection.cd-commentForm-addSection,
.cd-commentForm-addSubsection.cd-commentForm-addSubsection {
	margin-top: 1.5em;
}

.cd-commentForm-commentInput {
	.wikiEditor-ui .wikiEditor-ui-view {
		border: 0;
	}

	.oo-ui-inputWidget-input.oo-ui-inputWidget-input.oo-ui-inputWidget-input {
		position: relative;

		// Fix for jumping text until T169335 is resolved. Add 2px to make the height match the
		// default CodeMirror editor's height.
		padding-bottom: calc(@line-height + 2px);
		overflow-y: hidden;

		// Safer for the case with page scaling according to the system font.
		&:focus {
			outline: 0;
		}
	}

	.wikiEditor-ui-top {
		border: 1px solid @border-color-var;
		border-bottom-width: 0;
	}

	&.oo-ui-textInputWidget.oo-ui-widget-disabled {
		.wikiEditor-ui-top,
		+ .cd-insertButtons {
			border-color: var(--border-color-disabled, #c8ccd1);
			pointer-events: none;
		}
	}
}

.cd-reformattedComments .cd-commentForm-signature,
.cd-reformattedComments .cd-helpPopup-hideForReformattedComments,

// When using DT's preview API
.cd-reformattedComments span[style="opacity: 0.6;"],

// In case the user didn't turn it off. preview=true in the API request doesn't remove the tag -
// empty space can be visible because of `display: inline-flex;`.
.ext-discussiontools-init-replylink-buttons.ext-discussiontools-init-replylink-buttons {
	display: none;
}

.cd-commentForm-headlineInput-section .oo-ui-inputWidget-input.oo-ui-inputWidget-input {
	font-size: 1.5em;
	font-weight: bold;
}

.cd-commentForm-headlineInput-subsection .oo-ui-inputWidget-input.oo-ui-inputWidget-input {
	font-size: 1.2em;
	font-weight: bold;
}

.cd-commentForm-headlineInput,
.cd-editnotice {
	margin-bottom: 0.214286em;
}

.cd-commentForm-previewArea {
	display: flow-root;
	margin-top: 0.5em;
	padding: 0.5em 0.75em;
	background-color: var(--background-color-interactive-subtle, #f8f9fa);

	> .mw-parser-output {
		> *:first-child {
			margin-top: 0;
			padding-top: 0;

			> *:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}

		> *:last-child {
			margin-bottom: 0;
			padding-bottom: 0;

			> *:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	// Numbers appeared before T284921 (October 2021) when there was more than one header in the
	// preview.
	.mw-headline-number,

	.diff-lineno {
		display: none;
	}

	.cd-closeButton {
		background-color: var(--background-color-interactive-subtle, #f8f9fa);
	}

	&:empty {
		margin: 0;
		padding: 0;
	}

	&-above {
		margin-top: 0;
		margin-bottom: 0.5em;
		width: calc(100% - 1.5em);
	}

	&-label {
		color: var(--cd-color-subtler);
		margin-bottom: 0.5em;
	}

	&-indentedComment > .mw-parser-output > dl {
		margin-inline-start: 0;

		> dd {
			margin-inline-start: 0;
		}
	}

	.ext-discussiontools-init-section-bar.ext-discussiontools-init-section-bar {
		display: none;
	}
}

.cd-commentForm-messageArea {
	width: 100%;
	margin-block: 0.214286em;

	&:empty {
		margin-block: 0;
	}
}

.cd-commentForm-previewArea,
.cd-commentForm-messageArea {
	// To position .cd-closeButton absolutely
	position: relative;

	clear: both;
}

.cd-commentForm-inNumberedList .cd-commentForm-messageArea {
	// In Chrome, if the form is in a numbered list, this and "+ *" rule make the number to appear
	// before the textarea (which is better), not before the message.
	float: left;

	+ * {
		clear: both;
	}
}

.cd-closeButton {
	position: absolute;
	z-index: 1;

	// It is common for messages displayed in the message area, such as editintros and editnotices, to
	// have a 1px border, so we make it as well to avoid the border being overlapped by the close
	// button.
	top: 1px;
	inset-inline-end: 1px;

	opacity: 0;
	transition: opacity 0.2s ease-in;

	.cd-commentForm-messageArea & {
		background-color: var(--cd-content-background-color);
	}

	.cd-commentForm-previewArea:hover &,
	.cd-commentForm-messageArea:hover & {
		opacity: 1;
	}

	// Move the close button on mobile to prevent accidental taps
	.cd-mobile-client & {
		top: 0.5em;
	}

	// Note that preview area and message area may have oppositely aligned closed buttons: the message
	// area follows the user language; the preview area follows the content language. This is based on
	// the value of `direction` (which we set in this file).
	.cd-commentForm-previewArea & {
		inset-inline-end: 1px;
		inset-inline-start: unset;

		// Move the close button on mobile to prevent accidental taps
		.cd-mobile-client& {
			inset-inline-end: 0.5em;
		}
	}
}

.cd-message {
	margin-bottom: 0.5em;
}

.cd-popupOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	font-size: var(--font-size-medium, 0.875rem);
}

.cd-insertButtons {
	border: 1px solid @border-color-var;
	background-color: var(--background-color-base, #fff);
	border-top: 0;
	font-size: 0.928571em;
	line-height: 1.384616em;
	direction: var(--cd-direction-content);

	&::after {
		display: block;
		content: "";
		clear: both;
	}

	&:empty {
		border: 0;
	}

	&-button {
		color: var(--color-base, #202122);
		padding: 2px 0.5em 3px;
		white-space: nowrap;
		display: block;
		float: var(--cd-float-user-start);

		&:hover,
		&:focus {
			text-decoration: none;
			color: var(--color-base, #202122);

			// --background-color-interactive indistinguishable in dark mode
			background-color: var(--background-color-disabled-subtle, #eaecf0);
		}
	}
}

.cd-toolbarPlaceholder {
	background-color: var(--background-color-base, #fff);
	border: 1px solid @border-color-var;
	border-bottom: 0;
	height: 2.2857143em;

	.cd-commentForm-pending & {
		// To match the color of the rest of the borders while the form is the pending state.
		border-color: var(--border-color-disabled, #c8ccd1);
	}
}

// Reset a global style
.cd-autocompleteContainer .highlight {
	font-weight: normal;
}

.cd-popup-richFormatting {
	width: 25rem;

	// Otherwise, can appear behind the toolbar of the following comment form
	z-index: 2;

	.oo-ui-popupWidget-popup {
		padding-bottom: 0.5em;
	}

	.oo-ui-popupWidget-body {
		width: auto !important;
	}
}

.cd-dummyFloatableContainer {
	position: absolute;
	z-index: -1;
}

.cd-input-acceptFile.cd-input-acceptFile textarea,
.cd-input-acceptFile .cm-content {
	background-color: var(--background-color-progressive-subtle, #eaf3ff);
}

.cd-uploadDialog-typeFieldset {
	// Fields have `margin-top: 16px`
	margin: 16px 0 24px;
}

.cd-uploadDialog-fieldLayout-internal {
	cursor: default;

	&.oo-ui-fieldLayout.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
		padding-bottom: 0;
	}
}

.cd-tool-button-wrapper {
	display: flex;
}

.darkTheme-commentForm() {
	a.tool:not(.mw-no-invert) {
		color-scheme: light;
		filter: invert(1) hue-rotate(180deg);
	}
}

@media screen {
	html.skin-theme-clientpref-night {
		.darkTheme-commentForm();
	}
}

@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os {
		.darkTheme-commentForm();
	}
}

.cd-helpPopup var {
	// Closest to what we need
	background-color: var(--border-color-notice, #54595d);

	color: var(--color-inverted, #fff);
	font-style: normal;
}

.cd-autocomplete-wikidata-description {
	color: var(--color-subtle, #54595d);
	margin-inline-start: 1em;
}
