.cd-toc-commentCount {
  // Should be --color-base--subtle, but it's not in dark mode yet
  color: var(--color-subtle, #54595d);

  text-decoration: inherit;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;

  &-before {
    margin-inline-end: 0.75em;
  }
}

.vector-toc-text {
  text-decoration: inherit;
}

.cd-toc-subscriptionIcon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.0625rem;
  color: var(--color-subtle, #54595d);

  &-before {
    margin-inline-end: 0.75em;
  }
}

.vector-toc {
  .cd-toc-newCommentList,
  .cd-toc-addedCommentList {
    margin-top: 0;
    margin-inline-start: 20px;
  }

  .cd-toc-addedCommentList {
    list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="5" height="13" viewBox="0 0 5 13"%3E%3Ccircle cx="2.5" cy="9" r="2.5" fill="%2372777d"/%3E%3C/svg%3E');

    html.skin-theme-clientpref-night & {
      // TODO: update the color if it changes after https://phabricator.wikimedia.org/T366861
      list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="5" height="13" viewBox="0 0 5 13"%3E%3Ccircle cx="2.5" cy="9" r="2.5" fill="%23c8ccd1"/%3E%3C/svg%3E');
    }
  }
}

@media (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os .vector-toc .cd-toc-addedCommentList {
    list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="5" height="13" viewBox="0 0 5 13"%3E%3Ccircle cx="2.5" cy="9" r="2.5" fill="%23c8ccd1"/%3E%3C/svg%3E');
  }
}

.cd-toc-addedCommentList .cd-toc-bullet,
.cd-toc-addedCommentList .cd-toc-more,

// Need to override `.vector-toc .vector-toc-link`
.cd-toc-addedCommentList.cd-toc-addedCommentList.cd-toc-addedCommentList a,
.cd-toc-addedSection.cd-toc-addedSection.cd-toc-addedSection a {
  color: var(--color-subtle, #54595d);
}

.cd-toc-more {
  cursor: help;
}

.cd-toc-hiddenTocNumber {
  visibility: hidden;
}

.cd-toc-bullet {
  padding-inline-end: 0.5em;

  // Override `.vector-toc .vector-toc-numb`
  &.vector-toc-numb {
    display: inline;
  }
}

.cd-toc-commentLinkText-sidebar.cd-toc-commentLinkText-sidebar.cd-toc-commentLinkText-sidebar {
  padding: 2px 0;
}
